.projectsSection {
    background-image: -webkit-linear-gradient(248deg, #839b97  50%, #c6b497 50%);
    color: white;
    margin-bottom: 4rem;
  padding-bottom: 1rem;
  }
  
  .projectsSection h1 {
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
  }
  
  /* .projectsSection div {
    margin: 1rem;
    padding: 1rem;
  } */
  
  .projectDivs {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .projectDivs div {
  display: flex;
  flex-direction: column;
  flex: 1;
  
  text-align: center;
  border: 2px solid white;
  max-width: 15%;
  font-size: 110%;
  color: #34626c;
  box-shadow: 3px 3px 5px white;
  }

  .projImg {
    /* text-align: center; */
    height: 130px;
    width: 55%;
    margin-left: 22%;
  }
  
  .projectDivs a {
   margin-top: auto;           /* Position Github logo at bottom of card */
  }
  
  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    font-weight: bold;
  }
  
  .projectDivs div,
  .projectDivs h2, 
  .projectDivs p
   {
    padding: .7rem;
  }

  .projectDivs a img:hover {
    background-color: #34626c;
    border-radius: 60%;
  }
  



  /********************** Responsiveness **************/

  @media screen and (max-width: 1450px) {

    .projectsSection {
      background-image: -webkit-linear-gradient(244deg, #839b97  50%, #c6b497 50%);
    }

    .projectDivs div {
      max-width: 18%;
    }

    /* .projectDivs div, */
    .projectDivs h2, 
    .projectDivs p
     {
      padding: .8rem;
    }

  }

  /************************/

@media screen and (max-width: 1300px) {

  .projectsSection {
    background-image: -webkit-linear-gradient(243deg, #839b97  50%, #c6b497 50%);
  }

  .projectDivs {
    margin: .5rem;
    padding: .5rem;
  }

  .projectDivs div {
    max-width: 18%;
  }

  /* .projectDivs div, */
  .projectDivs h2, 
  .projectDivs p
   {
    padding: .5rem;
  }
}

  /************************/

@media screen and (max-width: 992px) {

  .projectDivs {
    margin: .5rem;
    padding: .5rem;
  }

  .projImg {
    height: 100px;
  }

  .tags {
    padding: .5rem;
  }
}

  /************************/

@media screen and (max-width: 880px) {

  .projectDivs div {
    /* font-size: 100%; */
    font-size: 1rem;
    }

    .projImg {
      height: 70px;
      width: 50%;
      margin-left: 23%;
    }

  /* .projectDivs div, */
  .projectDivs h2, 
  .projectDivs p
   {
    padding: .3rem;
  }

}