.projectsSection {
    background-image: -webkit-linear-gradient(248deg, #839b97  50%, #c6b497 50%);
    color: white;
    margin-bottom: 4rem;
  padding-bottom: 1rem;
  }
  
  .projectsSection h1 {
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
  }
  
  .projectsSection div {
    margin: 1rem;
    padding: 1rem ;
  }
  
  .projectDivs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .projImg {
    text-align: center;
    /* height: 20%; */
    height: 135px;
    width: 95%;
    margin-left: .5rem;
  }
  
  .projectDivs div {
  display: flex;
  flex-direction: column;
  flex: 1;
  
  text-align: center;
  border: 2px solid white;
  max-width: 15%;
  font-size: 110%;
  color: #34626c;
  box-shadow: 3px 3px 5px white;
  }
  
  .projectDivs a {
   margin-top: auto;
   /* padding: 2px; */
  }
  
  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    font-weight: bold;
  }
  
  .tags p {
    padding: .5rem;
  }
  
  .projectDivs div {
    padding: 1rem;
  }

  .projectDivs h2 {
    padding: 1rem;
  }

  .projectDivs p {
    padding: 1rem;
  }

  .projectDivs a img:hover {
    background-color: #34626c;
    border-radius: 60%;
  }
  