.skillSection {
    text-align: center;
    background-color: white;
    color: #839b97;
}
    
.skillSection h1 {
  padding-top: 2rem;
  font-size: 3rem;
}

.skillSection img {                 /* Size of language logos */
  height: 150px;
}

.logos {
display: flex;                      /* Container where logos are located */
flex-direction: row;
justify-content: space-around;

margin: .5rem;
padding: 2.7rem;
}

.logos div p {
  visibility: hidden;
  font-size: 1.4rem;
  color: #839b97;
}

.logos div:hover p {
visibility: visible;
} 


/********************** Responsiveness **************/

@media screen and (min-width: 2000px) {

.skillSection h1 {
  padding-top: 3rem;
  font-size: 4.5rem;
}

.skillSection img {                 
  height: 200px;
}

.logos div p {
  font-size: 2rem;
}
}


/**********************/


/**********************/

@media screen and (max-width: 992px) {

.skillSection img {
  height: 130px;
}
}

/**********************/

@media screen and (max-width: 768px) {

.logos div p {
  visibility: visible;
  font-size: 1.2rem;
}

.logos {
  padding-top: 2rem;
}    
}

/**********************/

@media screen and (max-width: 600px) {

.logos {
  flex-wrap: wrap;
}

.skillSection img {                 
  height: 110px;
}

.logos div p {
  font-size: 1rem;
}
}

/**********************/

@media screen and (max-width: 440px) {

.skillSection img {                 
  height: 90px;
}

.logos div p {
  font-size: .8rem;
}
}