.aboutSection {
    text-align: left;
    padding: 6rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background-image: -webkit-linear-gradient(246.5deg, #839b97 50%, #cfd3ce 50%);   
    color: #34626c;
    }
    
    .aboutSection div {
      margin: 1rem;
      padding: 1rem;
    }
    
    .aboutText {
      font-size: 1.5rem;
      width: 50%;
    }
    
    .aboutText h1,
    .aboutText h2,
    .aboutText p {
      padding: 1rem 2.2rem;
    }

/********************** Responsiveness **************/

    @media screen and (max-width: 1300px) {

      .aboutSection {
        padding: 4rem 0;
        background-image: -webkit-linear-gradient(242deg, #839b97 50%, #cfd3ce 50%);   
      }

      .aboutText {
        font-size: 1.3rem;
      }

      .arrows {
        height: 450px;
      }
    }

    /**********************/

    @media screen and (max-width: 992px) {

      .aboutSection {
        text-align: center;
        flex-direction: column-reverse;
        padding: 2rem 0;
      }

      .arrows {
        height: 400px;
      }

      .aboutText {
        width: 70%;
      }
    }

    /**********************/

    @media screen and (max-width: 880px) {

      .aboutSection {
        text-align: center;
        flex-direction: column-reverse;
        padding: 1rem;
      }

      .arrows {
        height: 350px;
      }

      .aboutText {
        font-size: 1.4rem;
      }

      .aboutSection div {
        margin: .5rem;
        padding: .5rem;
      }

    }

     /**********************/

    @media screen and (max-width: 768px) {

      .aboutText {
        font-size: 1.3rem;
      }

      .arrows {
        height: 300px;
      }
    }

      /**********************/

      @media screen and (max-width: 600px) {

        .aboutText {
          font-size: 1rem;
        }
  
        .arrows {
          height: 250px;
        }
      }