.aboutSection {
    text-align: left;
    padding: 6rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background-image: -webkit-linear-gradient(246.5deg, #839b97 50%, #cfd3ce 50%);   
    color: #34626c;
    }
    
    .aboutSection div {
      margin: 1rem;
      padding: 1rem;
    }
    
    /* .arrows {
      height: 100%;
    } */
    
    .aboutText {
      font-size: 1.5rem;
      width: 50%;
    }
    
    .aboutText h1,
    .aboutText h2,
    .aboutText p {
      padding: 1rem 2.2rem;
    }