 /*Globals*/
 * {
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /* box-sizing: border-box; */
 }

 html {
   font-size:16px;
 }

/********************** Home **************/
.homeSection {
text-align: center;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

background-image: -webkit-linear-gradient(71.1deg, #839b97 50%, #fff 50%);

color: #34626c;
margin-bottom: 3rem;
padding: 4rem 0;
}

.homeSection div {
  margin: 1.5rem;
}

.bigName {
  font-size: 5rem;
  text-align: left;
  color: #cfd3ce;
  width: 50%;
}

.bigName h1 {
  padding-top: 10%;
}


/********************** My Image **************/
.imgMe {
  margin-right: 20%;
  border: 18px solid white;
  height: 550px;
  padding-top: 2rem;
}

.imgDiv {
  width: 40%;
}


/********************** Responsiveness **************/

@media screen and (max-width: 1300px) {

  .homeSection {
    background-image: -webkit-linear-gradient(69.2deg, #839b97 50%, #fff 50%);
  }

  .imgMe {
    height: 455px;
    padding-top: 1.5rem;
  }

  .bigName {
    font-size: 4rem;
    width: 52%;
  }
}

@media screen and (max-width: 992px) {

  .imgMe {
    margin-right: 15%;
    height: 375px;
  }

  .bigName {
    font-size: 3.3rem;
  }
}

@media screen and (max-width: 835px) {

  .bigName {
    font-size: 3rem;
  }

}
