 * {
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }


/********************** Navbar **************/
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  /* border-bottom: 2px solid #f2f2f2; */

  position: sticky; 
 
  background-color: #34626c;
  color: #cfd3ce;
}


.navbar .links {
  margin-left: auto;
}

.navbar h1{
  font-size: 2rem;
}

.navbar a {
  /* color: blue; */
  color: #cfd3ce;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: 1.3rem;
}


/********************** Home **************/
.homeSection {
text-align: center;

display: flex;
flex-direction: row;
justify-content: space-around;

background-image: -webkit-linear-gradient(73deg, #839b97 50%, #fff 50%);

color: #34626c;
}

.homeSection div {
  border: 2px solid red;
  margin: 1rem;
  padding: 1rem;
}

.bigName {
  font-size: 4rem;
  text-align: left;
  color: #cfd3ce;
  width: 45%;
}
.bigName h1 {
  padding-top: 10%;
}


/********************** My Image **************/
.imgMe {
  margin-right: 20%;
  border: 18px solid white;
  height: 450px;
  width: 300px;
}

.imgDiv {
  width: 40%;
}



/********************** About **************/
.aboutSection {
text-align: left;

display: flex;
flex-direction: row;
justify-content: space-around;

background-image: -webkit-linear-gradient(253deg, #839b97 50%, #cfd3ce 50%);

color: #34626c;
}

.aboutSection div {
  border: 2px solid red;
  margin: 1rem;
  padding: 1rem;
}

.aboutImage {
  width: 45%;
  text-align: center;
}

.aboutText {
  font-size: 1.3rem;
  width: 50%;
}

.aboutText h1 {
  text-decoration: underline;
}

.aboutText h1,h2,p {
  padding: 1rem 2.2rem;
}


/********************** Skills ***************/

.skillSection {
  text-align: center;
}


/********************** Projects ***************/
.projectsSection {
  text-align: center;
  /* margin: 3rem 0; */
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #34626c;
  background-color: #cfd3ce;
}


.projectsSection div {
  border: 2px solid green;
  width: 98%;
  margin: 1rem 0;
  padding: 2rem 0;
}


/********************** Contact **************/
.contactSection {
text-align: center;
/* margin: 1rem; */
display: flex;
flex-direction: row;
justify-content: space-around;

color: #34626c;
background-color: #c6b497;
}

.contactSection div {
border: 2px solid orange;
width: 100%;
margin: 1rem;
padding: 1rem 0;
}