 * {
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   /* color: white;
   background-color: black; */
 }

/* Navbar */
/* .navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;

  background-color: #34626c;
  color: #cfd3ce;
} */

/*Practice Navbar*/
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  border-bottom: 2px solid #f2f2f2;

  background-color: #34626c;
  color: #cfd3ce;
}


.navbar .links {
  margin-left: auto;
}

.navbar h1{
  font-size: 2rem;
}

.navbar a {
  color: blue;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: 1.3rem;
}

/* Home */
.home {
text-align: center;
/* margin: 2rem; */
display: flex;
flex-direction: row;
justify-content: space-around;

/* color: white;
background-color: black; */
}

.home div {
  border: 2px solid red;
  width: 50%;
  margin: 1rem;
  padding: 1rem;
}

/* My Image */
.imgMe {
  border-radius: 50%;
  height: 80%;
  margin-right: 30%;
  border: 2px solid white;
}

.about {
  font-size: 1.3rem;
}


/* Projects */
.projects {
  text-align: center;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects div {
  border: 2px solid green;
  width: 98%;
  margin: 1rem 0;
  padding: 2rem 0;
}

/* Contact */
.contact {
text-align: center;
/* margin: 1rem; */
display: flex;
flex-direction: row;
justify-content: space-around;

}

.contact div {
border: 2px solid orange;
width: 100%;
margin: 1rem;
padding: 1rem 0;
}