.skillSection {
    text-align: center;
    background-color: white;
    color: #839b97;
}
    
.skillSection h1 {
  padding-top: 2rem;
  font-size: 3rem;
}

.skillSection img {
  height: 150px;
}

.logos {
display: flex;
flex-direction: row;
justify-content: space-around;

margin: .5rem;
padding: 2.7rem;
}


.logos div p {
  visibility: hidden;
  font-size: 1.4rem;
  color: #839b97;
}

.logos div:hover p {
visibility: visible;
} 